:root {
    --bg-slate-100: #f8f9fa;
    --bg-slate-200: #f1f3f5;
    --bg-slate-300: #e9ecef;
    --bg-slate-400: #dee2e6;
    --bg-slate-500: #ced4da;
    --bg-slate-600: #adb5bd;
    --bg-slate-700: #868e96;
    --bg-slate-800: #495057;
    --bg-slate-900: #343a40;
    --bg-slate-1000: #212529
    }

    .custom-search {
    border: none;
    border-radius: 21px 0 0 21px;
    background-color: #f2f2f2;
    padding-left: 14px
    }

    .custom-input-search {
    border: none;
    background-color: #f2f2f2;
    border-radius: 0 21px 21px 0
    }

    .custom-input-search:focus {
    box-shadow: none;
    background: #f2f2f2
    }

    .nav-link {
    color: #8a8a8a;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
    }

    .nav-link.active {
    color: #000;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
    }

    .imagePost {
    height: 220px;
    border-radius: 4px 4px 0 0;
    background-color: #c4c4c4
    }

    @media screen and (min-width: 992px) {
    .posts-center {
    flex:1 0 auto
    }
    }

    .location-info {
    color: #000;
    opacity: .5;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
    }

    .text-recommended {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase
    }

    .follow {
    background: #edeef0
    }

    @media (max-width: 992px) {
    .custom-bg-container {
    height:236px!important
    }
    }

    .join-group {
    color: #fff;
    border: .8px solid #ffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
    }

    .join-group:hover {
    color: #fff;
    background-color: #0003
    }

    .background-text-home {
    justify-content: space-between
    }

    @media screen and (min-width: 992px) {
    .background-text-home {
    justify-content:end
    }
    }

    .custom-main-button {
    top: 22px;
    padding: 0 16px
    }

    .text-main-posts {
    color: #212529;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: .14px
    }

    .btn-filter {
    background: #f1f3f5;
    color: #212529;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
    }

    .circle-write-post {
    height: 54px;
    width: 54px;
    background: linear-gradient(180deg,#ff5c5c,#f0568a);
    filter: drop-shadow(0px 0px 2px rgba(0,0,0,.08)) drop-shadow(0px 2px 4px rgba(0,0,0,.18))
    }

    .baseline-edit-24px {
    fill: #fff!important
    }

    .input-text {
    outline: none
    }

    .input-text {
    outline: none;
    border: none
    }

    .custom-btn-create {
    color: #2e2e2e;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
    }

    .custom-modal-header {
    color: #008a45;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px
    }

    .info-signup {
    color: #000;
    opacity: .6;
    text-align: right;
    font-family: IBM Plex Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.088px
    }

    .button-signup-group {
    border-radius: 2px;
    border: .6px solid #d9d9db;
    background: #fff
    }

    .forgot {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -.096px
    }

    .custom-input {
    border-radius: 2px 2px 0 0;
    border: 1px solid #d9d9db;
    background: #f7f8fa
    }

    .dropdown .show {
    transform: translate3d(-116px,30.5px,0)
    }

    .custom-post-link {
    border-radius: 10px;
    border: .7px solid #a9aeb8;
    background: #fff
    }

    .mobile-modal-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #00000080;
    display: flex;
    z-index: 1000;
    border-radius: 8px 8px 0 0;
    background: #fff;
    box-shadow: 0 8px 24px #00000040;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform .3s ease
    }

    .mobile-modal {
    width: 100%;
    max-height: 100%
    }

    .mobile-modal-overlay.active {
    transform: translateY(0)
    }

    .dark-back {
    opacity: .6;
    background-color: "#212529"
    }
